/* fonts
font-family: 'Anonymous Pro', monospace;
font-family: 'VT323', monospace;
font-family: 'Crimson Text', serif;
font-family: 'Comfortaa', cursive;
font-family: 'Yeseva One', cursive;

font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Quicksand', sans-serif; }

.c-menu {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  background-color: #141414; }

.c-menu__items--bottom {
  margin-top: auto; }

.c-menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  height: 60px;
  background-color: #141414;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.c-menu__item--top {
  background-color: #e1e1e1; }

.c-menu__item:hover {
  cursor: pointer;
  background-color: #646464; }

.c-menu__item--top:hover {
  cursor: pointer;
  background-color: #f0aac8; }

.c-menu__item--sub:hover {
  background-color: #50e678; }

.js-add {
  display: none; }

.js-save {
  display: none; }

.c-menu__img-wrapper {
  padding: 10px;
  height: calc(60px - 10px);
  width: calc(60px - 10px); }

.c-menu__img {
  width: 100%;
  height: 100%;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }

.c-menu__tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: -1;
  position: absolute;
  left: 60px;
  height: 100%;
  padding: 0 15px 0 10px;
  background-color: #646464;
  will-change: transform;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }

.c-menu__tooltip--sub {
  display: none;
  background-color: #50e678; }

.c-menu__tooltip--top {
  background-color: #f0aac8; }

.c-menu__tooltip--hovered {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.c-menu__text {
  font-size: 20px;
  white-space: nowrap;
  color: #fff; }

.c-menu__add-buttons {
  border: solid 1px #e1e1e1;
  border-left: 0px;
  border-right: 1px;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }

.c-main {
  z-index: 0;
  width: 100%;
  height: 100%; }

.c-header {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #e1e1e1; }

.c-header__h1 {
  position: relative;
  font-size: 35px; }

.c-header__icon {
  position: relative;
  padding: 15px;
  width: 60px;
  height: 60px; }

.c-editor {
  overflow-y: auto;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 20% calc(60px*2) 20%;
  width: 100%;
  height: calc(100% - 60px); }

.o-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
  width: 100%;
  height: calc(60px/1.5);
  background-color: #141414; }

.o-bar__h1 {
  margin-right: auto;
  margin-left: 10px;
  font-size: 25px;
  color: #fff; }

.o-bar__img {
  padding: 5px;
  width: calc(60px/1.5); }

.o-bar__img:hover {
  cursor: pointer;
  background-color: #646464; }

.o-bar__img--move-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.o-section {
  margin-bottom: calc(60px);
  width: 100%;
  height: auto; }

.o-section--expl {
  margin: auto;
  text-align: center; }

.o-section__h1 {
  margin-bottom: 60px;
  font-size: 50px;
  font-weight: bold; }

.o-section__p {
  margin-bottom: calc(60px/3);
  font-size: 30px; }

.o-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.border-on-edit {
  border: solid calc(60px/6) #e1e1e1;
  will-change: border;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s; }

.border-on-edit--topless {
  border-top: 0px; }

.border-on-edit:focus,
.border-on-edit:active {
  border-color: #646464; }

.o-section__name {
  padding-top: calc(60px/6);
  padding-bottom: calc(60px/12);
  padding-right: calc(60px/6);
  padding-left: calc(60px/6);
  width: 100%;
  font-size: 30px;
  text-align: center;
  background-color: #e1e1e1; }

.o-section__name--tile {
  text-align: center; }

.o-section__name--button {
  border-radius: calc(60px/2);
  background-color: #50e678;
  color: #fff;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.o-section__name--button:hover {
  cursor: pointer;
  background-color: #141414; }

.o-section__textarea {
  outline: 0;
  padding: calc(60px/4);
  width: 100%;
  text-align: left;
  font-size: 18px;
  resize: none; }

.o-section__img-wrapper {
  overflow-y: auto;
  margin-top: 0px;
  width: 100%;
  height: 0px;
  max-height: calc(60px*4); }

.o-section__img {
  margin: 0px;
  width: 100%;
  height: auto; }

.o-section__img--big {
  width: 60px; }

.o-section__img--expl {
  margin: calc(60px/2);
  width: calc(60px*2); }

.o-section__form {
  outline: 0;
  padding: 0;
  width: 100%; }

.o-section__input {
  outline: 0;
  padding: calc(60px/4);
  width: 100%;
  text-align: center;
  font-size: 18px; }

.o-section__fileToUpload {
  outline: 0;
  padding: 20px;
  width: 100%; }

.o-section__tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  width: 100%; }

.o-section__tile {
  margin: 0 5px 10px 5px;
  width: 30%; }

.o-section__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }

.o-section__button {
  border-radius: 50%;
  margin: calc(60px/3) 0;
  padding: 10px;
  width: calc(60px/1.2);
  height: calc(60px/1.2);
  background-color: #141414;
  will-change: background-color;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.o-section__button:hover {
  cursor: pointer;
  background-color: #646464; }

.c-save-button {
  position: fixed;
  right: 60px;
  bottom: 60px;
  border-radius: 50%;
  width: calc(60px*1.2);
  height: calc(60px*1.2);
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s, -webkit-transform 0.2s; }

.c-save-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.c-save-button:hover .c-save-button__h1 {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.c-save-button__img {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #e1e1e1; }

.c-save-button__h1 {
  position: relative;
  z-index: 0;
  text-align: center;
  font-size: 20px;
  will-change: transform;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }
