/* fonts
font-family: 'Anonymous Pro', monospace;
font-family: 'VT323', monospace;
font-family: 'Crimson Text', serif;
font-family: 'Comfortaa', cursive;
font-family: 'Yeseva One', cursive;

font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
*/
$sizeMenuItemHeight: 60px;

$colorGrey1: rgb(20, 20, 20);
$colorGrey2: rgb(225, 225, 225);
$colorBlack: #000;
$colorWhite: #fff;
$colorMain:  rgb(20, 160, 200);

$trFast:   0.2s;
$trNormal: 0.5s;
$trSlow:   1s;
$trBgColor: background-color $trFast;


* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  overflow-y: hidden;
  display: flex;
  font-family: 'Quicksand', sans-serif;
}
  

.c-menu {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  background-color: $colorGrey1;
}
  .c-menu__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
    width: 100%;
    height: $sizeMenuItemHeight;
    transition: background-color 0.2s;
  }
  .c-menu__item--top {
    background-color: $colorGrey2;
  }
  .c-menu__item--end {
    margin-top: auto;
  }
  .c-menu__item:hover {
    cursor: pointer;
    background-color: $colorMain;
  }
    .c-menu__img-wrapper {
      padding: 10px;
      height: calc(#{$sizeMenuItemHeight} - 10px);
      width: calc(#{$sizeMenuItemHeight} - 10px);
    }
      .c-menu__img {
        width: 100%;
        height: 100%;
      }
    .c-menu__text {
      margin: 0;
      font-size: 0;
      white-space: nowrap;
      transition: font-size 0.2s;
      color: $colorWhite;
    }
    .c-menu__text--top {
      color: $colorBlack;
    }
    .c-menu:hover .c-menu__text {
      margin: 0 10px;
      font-size: 20px;
    }


.c-main {
  width: 100%;
  height: 100%;
}
  .c-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $sizeMenuItemHeight;
    background-color: $colorGrey2;
  }
    .c-header__edited-page-title {
      position: relative;
      left: $sizeMenuItemHeight;
      font-size: 35px;
    }
    .c-header__icon {
      position: relative;
      left: calc(#{$sizeMenuItemHeight} - 15px);
      padding: 15px;
      height: $sizeMenuItemHeight;
    }

  .c-editing-area {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: calc(100% - #{$sizeMenuItemHeight});
  }

.o-add {
  position: relative;
  margin: 50px;
  width: $sizeMenuItemHeight;
  height: $sizeMenuItemHeight;
}
.o-add:hover .o-add__img {
  background-color: $colorMain;
}
.o-add:hover .o-add__title {
  font-size: 0;
}
.o-add:hover .o-add__menu {
  transform: translate(-50%, 100%) scale(1);
}
  .o-add__img {
    border: solid 2px $colorBlack;
    border-radius: 50%;
    padding: 10px;
    width: 100%;
    background-color: $colorWhite;
    transition: background-color 0.2s;
  }
  .o-add__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 120%);
    text-align: center;
    font-size: 20px;
    transition: font-size 0.2s;
  }
  .o-add__menu {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0) scale(0);
    transition: transform 0.2s;
  }
    .o-add__item {
      position: relative;
      border-radius: calc(#{$sizeMenuItemHeight}/1.5);
      margin: 10px;
      width: calc(#{$sizeMenuItemHeight}/1.5);
    }
    .o-add__item:hover {
      cursor: pointer;
      background-color: $colorMain;
    }
      .o-add__item-img {
      }
      .o-add__item-title {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
      }
      